body {
    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.profile2 h2{
    color :white;
    transform: translateY(10px);
}
.profile2 h6{
    color :white;
    transform: translateY(5px);
}
.biodata{
    background: linear-gradient(#ffffff 0%, #ffffffc4 40%, #ffffff02 100%);
    padding-bottom: 200px;
}
.footer{
    background-color: white;
}
